/*- self-clearing floats ----------*/
.mod:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*- fluid images and objects ----------*/
img,
object,
embed {max-width: 100%;}


@font-face {
    font-family: 'League';
    src: url('../fonts/league/League_Gothic-webfont.eot');
    src: url('../fonts/league/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/league/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/league/League_Gothic-webfont.svg#League') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway_thin-webfont.eot');
    src: url('../fonts/raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway_thin-webfont.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*- optional vanity styles ----------*/
@media only screen and (max-device-width: 480px) {
  html {-webkit-text-size-adjust: none}
  a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}
}

/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

body {
  color: #222222;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: #DEDEDE;
}

.main-content {
    background-color: #FAFAFA;
    margin: 0 auto;
    max-width: 740px;
    padding: 3em;
}

abbr {
  cursor: help;
}

header.main h1{
  font-family: League;
  text-transform: uppercase;
  font-weight: normal;
  color: #777777;
  font-size: 6em;
  margin: 0 auto;
}

nav{
  margin-bottom: 25px;
  padding-left: 0.6em;
}

nav li {
  display: block;
  float: left;
  margin: 2px 10px 2px 0;
  padding: 3px 0;
  width: auto;
}

nav a{
  color: #034463;
  letter-spacing: 0.2em;
  padding-right: 12px;
  text-decoration: none;
  font-style: normal;
}

article header {
  line-height: 4em;
}

article a, section a {
  color: #777777;
}

article section {
  padding-left: 1em;
}

article footer {
  text-align: right;
  border-bottom: medium dotted;
  line-height: 4em;
}

header h2 a {
  text-decoration: none;
  font-family: Raleway;
}

p {
  font-family: Times New Roman;
  font-size: 1.1em;
  padding-bottom: 10px;
  padding-left: 1em;
}

h3, h4, h5, h6 {
    font-family: League;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;
    padding-top: 0.8em;
    text-transform: uppercase;
}

h4{
  color: #777;
  font-weight: bold;
}

.extra {
  min-height: 180px;
  width: 45%;
  float: left;
  margin-right: 10%;
}

.extra:nth-child(odd) {
  margin: 0;
}

footer{
  text-align: center;
  clear: both;
}

footer p small{
  font-size: 0.7em;
}

blockquote, em, cite{
  display: block;
  margin: 10px;
  padding: 5px;
  border-radius:10px 10px 10px 10px;
  -moz-border-radius :10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

em{
  background-color: #F87070;
  border: 2px solid #B52E2E;
}
cite{
  background-color: #D5F36E;
  border: 2px solid #90AD2C;
}
blockquote{
  background-color: #E0EAEF;
  border: 2px solid #215872;
  margin: 5px;
  padding: 20px;
}

span.by-link{
  font-size: 0.9em;
  font-style: italic;
}
span.comment-link{
  font-size: 0.9em;
  color: #555555;
}
img {
  border: 0;
}
img#avatar {
  padding: 4px;
  float: left;
}
table {
  width: 80%;
  border: 2px solid #999999;
}
td {
  border: 1px solid #999999;
}
article section ul{
  padding-left: 20px;
}
