<!DOCTYPE html>
<html lang="en" class="no-js">
<head class="html5reset-kitchensink-clean">
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="LirEfdzOpsT5fsjl0Di05wXm_agX47gPOVc8kZzsO8s" />
  <title>{{site.name}} - {{site.author}}
    {% if page.title %}
     : {{ page.title }}
    {% endif %}
  </title>
  <script type="text/javascript">  var disqus_developer = 0; </script>
  {% if page.summary %}
  <meta name="description" content="{{ page.summary }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{site.author}}" />
  <meta name="Copyright" content="Copyright {{site.author}} 2010 - 2012. All Rights Reserved." />
  <meta name="DC.title" content="{{site.name}}" />
  <meta name="DC.subject" content="Computer programming, music, open source." />
  <meta name="DC.creator" content="{{site.author}}." />
  <link rel="shortcut icon" href="{{site.url}}/assets/img/favicon.png"/>
  <link rel="apple-touch-icon" href="{{site.url}}/assets/img/custom_icon.png"/>
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Quattrocento' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.url}}/assets/css/master.min.css" />
  <!--[if IE]>
  <link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie-all.css" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie7.css" />
  <![endif]-->
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
  <![endif]-->
  <script src="{{site.url}}/assets/js/modernizr-1.5.min.js"></script>
  <link href="{{site.rss_url}}" rel="alternate" title="The Dynamic Programmer - Hernan Garcia" type="application/atom+xml" />
</head>
<body>
  <div class="main-content">
    <header class="main">
      <h1>The d<span class="accent-font">y</span>namic programmer</h1>
    </header>
    <nav class="mod">
      <ul>
        <li><a href="{{site.blog_url}}/" title="Mumblings and ramblings on software development.">Blog</a></li>
        <li><a href="http://theprogrammer.jux.com" title="Pictures and other non-technical content.">Loops</a></li>
        <li><a href="{{site.projects_url}}/" title="The results of endless nights of coding.">Projects</a></li>
        <li><a href="{{site.music_url}}/" title="Disarray of random musical bits.">Music</a></li>
        <li><a href="{{site.rss_url}}" title="Sindication a.k.a. RSS feed">RSS</a></li>
        <li><a href="http://twitter.com/theprogrammer" title="@TheProgrammer on Twitter">Twitter</a></li>
      </ul>
    </nav>
    <div class="main">
    {{ content }}
    </div>
  </div>
  <div class="main-footer">
    <ul class="auxiliary-nav">
      <li>Categories
        <ul>
          <li><a href="{{site.blog_url}}/categories/architecture.html">architecture</a></li>
          <li><a href="{{site.blog_url}}/categories/books.html">books</a></li>
          <li><a href="{{site.blog_url}}/categories/codemash.html">codemash</a></li>
          <li><a href="{{site.blog_url}}/categories/continuous_integration.html">c.i.</a></li>
          <li><a href="{{site.blog_url}}/categories/dart.html">dart</a></li>
          <li><a href="{{site.blog_url}}/categories/design.html">design</a></li>
          <li><a href="{{site.blog_url}}/categories/dotnet.html">.net</a></li>
          <li><a href="{{site.blog_url}}/categories/erlang.html">erlang</a></li>
          <li><a href="{{site.blog_url}}/categories/frameworks.html">frameworks</a></li>
          <li><a href="{{site.blog_url}}/categories/general.html">general</a></li>
          <li><a href="{{site.blog_url}}/categories/javascript.html">javascript</a></li>
          <li><a href="{{site.blog_url}}/categories/luca.html">luca</a></li>
          <li><a href="{{site.blog_url}}/categories/methodology.html">methodology</a></li>
          <li><a href="{{site.blog_url}}/categories/node-js.html">node.js</a></li>
          <li><a href="{{site.blog_url}}/categories/patterns.html">patterns</a></li>
          <li><a href="{{site.blog_url}}/categories/programming.html">programming</a></li>
          <li><a href="{{site.blog_url}}/categories/ruby.html">ruby</a></li>
          <li><a href="{{site.blog_url}}/categories/talks.html">talks</a></li>
          <li><a href="{{site.blog_url}}/categories/testing.html">testing</a></li>
          <li><a href="{{site.blog_url}}/categories/tools.html">tools</a></li>
        </ul>
      </li>
      <!-- <li>Archives</li> -->
      <li>Projects
        <ul>
          <li><a href="http://gherkineditor.codeplex.com/">gherkin editor</a></li>
        </ul>
      </li>
      <li>Presentations
        <ul>
          <li><a href="http://www.altnethispano.org/wiki/van-2010-05-15-bdd.ashx">bdd alt.net hispano [spanish]</a></li>
          <li><a href="http://altnethispano.org/wiki/van-2011-08-06-nodejs.ashx">node.js alt.net hispano [spanish]</a></li>
          <li><a href="http://www.dev3cast.com/2012/02/20/nodejs/">node.js dev3cast [spanish]</a></li>
        </ul>
      </li>
      <!-- <li>About</li> -->
    </ul>
    <footer>
      <p><small>&copy; Copyright {{site.author}} 2007 - 2012. All Rights Reserved.</small></p>
    </footer>
  </div>
  <script type="text/javascript">
  var disqus_shortname = 'thedynamicprogrammer';
  (function () {
    var s = document.createElement('script');
    s.async = true;
    s.src = 'http://disqus.com/forums/thedynamicprogrammer/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    try {
    var pageTracker = _gat._getTracker("UA-7490131-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
