---
layout: default
---
<article>
	<header>
		<h2>{{ page.title }}</h2>
	</header>
  <section>
  {% strip %}
    {% if page.collection %}
      <ul>
      {% for post in site.posts %}
        {% if post.collection == page.collection %}
          <li><a href="{{site.blog_url}}{{ post.url}}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endstrip %}
  </section>
  <section>
  {{ content }}
	</section>
  <footer>
    {% for category in page.categories %}
      <a href="{{ site.blog_url }}/categories/{{ category | downcase | replace:'.net','dotnet' | replace:'.','-' | replace:' ','_' }}.html" title="Read other articles in {{ category }}">{{ category }}</a>&nbsp;&nbsp;
    {% endfor %}
  </footer>
</article>

<p id="disqus_thread"></p>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script');
   dsq.type = 'text/javascript';
   dsq.async = true;
   dsq.src = 'http://thedynamicprogrammer.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
